* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
}

h3 {
  text-shadow: 5px 5px 4px rgba(64, 64, 64, 0.5);

  text-align: center;
}

.box {
  width: 200px;
  height: 100px;
  background: blue;
  margin: 20px;
  box-shadow: 3px 5px 5px green;
}
